@model IQueryable<ListAllCoursesModel>

@{
    ViewData["Title"] = "All Courses";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <input name="wordToSearch" type="text" placeholder="Search for course"/>
    <button type="submit" class="btn btn-default" value="Search">Search</button>
</form>

@foreach (var course in Model)
{
    <div class="d-inline-block bg-info">
        <h3>@course.Name</h3>
        <div>Starting: @course.StartDate.ToShortDateString()</div>
        <a href="/courses/view/@course.Id">Learn More</a>
    </div>
}