@model SupplierModel

@{
    ViewData["Title"] = "Add Supplier";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsImporter">Is Importer</label>
                <input asp-for="IsImporter" type="checkbox" class="form-control" placeholder="Is Importer">
                <span asp-validation-for="IsImporter" class="form-text text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-success" value="Add Supplier">Add</button>
            </div>
        </form>
    </div>
</div>
