@model int
@{
    ViewData["Title"] = "Sign Up To Course";
}

<h2>Sign Up To Course?</h2>
<form method="post">
    <div>
        <button type="submit" class="btn btn-success">Yes</button>
        <a href="/" class="btn btn-default" value="Cancel">Cancel</a>
    </div>
</form>

