@model IEnumerable<ListAllCamerasModel>

@{
    ViewData["Title"] = "All Cameras";
}

<h2>@ViewData["Title"]</h2>


@foreach (var camera in Model)
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-3">
                    <div class="img-thumbnail">
                        <a href="@camera.ImageUrl">
                            <img src="@camera.ImageUrl" height="85" width="150">
                        </a>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            @($"{camera.Model} {camera.Make}")
                        </div>
                        <div class="col-md-4">
                            $@camera.Price
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <span><a href="/cameras/details/@camera.Id">Details</a></span>
                        </div>
                        <div class="col-md-4">
                            @if (camera.IsInStock)
                            {
                                <font color="green">IN STOCK</font>
                            }
                            else
                            {
                                <font color="red">OUT OF STOCK</font>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
